@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #fbfdfe;
  --foreground: #1b2228;
}

body {
  color: var(--foreground);
  background: var(--background);
  font-family: Pretendard, Helvetica, sans-serif;
}
